.containerHome {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.homeImageBurger {
    width: 100%;
    height: auto;
    opacity: 70%;
    margin: 0 auto;
    padding-top: 200px;
}

.homeImageSnacks {
    width: 100%;
    height: auto;
    opacity: 70%;
    margin: 0 auto;
    padding: 0;
}

.homeImageDrinks {
    width: 100%;
    height: auto;
    opacity: 70%;
    margin: 0 auto;
    padding: 0;
}

.overflow {
    overflow: hidden;
}




@media screen and (min-width: $mdWidth){
    .homeImageBurger {
        width: 100%;
        margin: 0 auto;
        padding-top: 250px;
    }

    .homeImageSnacks {
        width: 100%;
        margin: 0 auto;
        padding-top: 250px;
    }

}

@media screen and (min-width: $lgWidth){
    .homeImageBurger {
        width: 100%;
        // height: 100vh;
        padding-top: 300px;
    }

    .homeImageSnacks {
        width: 100%;
        // height: 100vh;
        padding-top: 300px;
    }

    .homeImageDrinks {
        width: 100%;
        // height: 100vh;
        padding-top: 300px;
    }
}
