.extraPad {
    padding: 10px 45px;
}

.itemPadding {
    padding-top: 15px;
    padding-bottom: 15px;
}

.noteFont {
    font-weight: 300;
    font-size: 16px;
}

.menuSubNav:link, .menuSubNav:visited {
    color: black;
    text-decoration: none;
}

.menuSubNav:hover {
    color: $redColor;
    text-decoration: none;
}

.menuSubNav:active {
    color: black;
    text-decoration: none;
}
