.navbar {
    padding: 10px;
    color: black;
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;

    transition: background-color 0.25s;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

// .navIcon {
//     align-self: flex-end;
// }

.navLogo {
    width: 150px;
}

.headerImg {
  width: 150px;
  height: 150px;
}

.navList {
    display: none;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 20px;
    background-color: $darkBlueColor;
    color: white;
}

.listItem {
    padding: 50px;
    font-size: 40px;
}


.navSm {
    text-decoration: none;
    &:link, &:visited {
        color: white;
    }

    &:hover {
        color: $redColor
    }

    &:active {
        color: white;
    }
}

.redBtns {
    text-decoration: none;
    &:link, &:visited {
        color: white;
    }
    &:hover {
        color: black;
    }
    &:active {
        color: white;
    }
}

.listItemWaiter {
    font-size: 25px;
}

.listItemWaiter:hover {
    color: $redColor;
}




@media screen and (min-width: $mdWidth){
    .navContainer {
        flex-direction: column;
    }

    .navIcon {
        display: none;
    }

    .navList {
        display: block !important;
        height: auto;
        ul {
            display: flex;
            justify-content: center;
        }
        background-color: white;
        color: black;
    }

    .listItem {
        padding: 0 20px;
        font-size: 25px;
    }

    .listItemWaiter {
        display: none;
    }

    .navMd {
        text-decoration: none;
        &:link, &:visited {
            color: black;
        }
        &:hover {
            color: $redColor;
        }
        &:active {
            color: black;
        }
    }


}

@media screen and (min-width: $lgWidth){
    // .navContainer {
    //     flex-direction: row;
    //     flex-wrap: nowrap;
    // }
    //
    .navList {
        width: auto;
    }

    .navLogo {
        width: 200px;
    }

    .headerImg {
      width: 200px;
      height: 200px;
    }
}
