$mdWidth: 600px;
$lgWidth: 900px;

$yellowColor: #fbb917;
$redColor: #d92229;
$greenColor: #41b54a;
$blueColor: #a0dcf1;
$greyColor: #3c3c3e;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
