@import 'reset';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', 'Lato', 'Helvetica', sans-serif;
    font-size: 20px;
}

@import 'variables';
@import 'grid';

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@import 'nav';
@import 'homeImages';
